        /* Basic CSS styles for the weather widget */
        .weather-widget {
            font-family: Arial, sans-serif;
            background-color: transparent;
            border-radius: 5px;
            width: 200px;
            text-align: center;
            color:#f0f0f0; 
        }
        .weather-widget .temperature {
            font-size: 20px;
            font-weight: bold;
        }
        .weather-widget .location {
            font-size: 16px;
            font-weight: bolder;
        }
        .weather-widget .weather-main {
            font-size: 12px;
        }
        .weather-widget .description {
            font-size: 10px;
            opacity: 0.8;
        }