        /* Basic CSS styles for the weather widget */
        .weather-widget {
            font-family: Arial, sans-serif;
            background-color: transparent;
            border-radius: 5px;
            width: 200px;
            text-align: center;
        }
        .weather-widget .temperature {
            font-size: 20px;
            color:#f0f0f0;
        }
        .weather-widget .location {
            font-size: 16px;
            color:#f0f0f0;
        }
        .weather-widget .description {
            font-size: 10px;
            color: #f0f0f0;
            opacity: 0.8;
        }